<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<title>Md Kamrul Hasan</title>
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css'>
<link rel="stylesheet" href="/static/style/indexStyle.css">

</head>
<body>
	<!-- partial:index.partial.html -->
	<nav class="navbar" role="navigation" style="background-color: blue;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><b class="fontStyle">ユーザックシステム株式会社</b></a>
		</div>
		<!--/.navbar-header-->

		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="login" class="fontStyle"><i class="fa fa-user"></i>Login</a></li>
				<li class="dropdown"><a href="#"
					class="dropdown-toggle fontStyle" data-toggle="dropdown"><i
						class="fa fa-align-justify"></i>Dropdown<b class="caret"></b></a>
					<ul class="dropdown-menu multi-column columns-2">
						<div class="padding">
							<b style="color: blue">メニュー</b>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<ul class="multi-column-dropdown">
									<li class="padding">
										<div class="backStyle">
											<a href="#"><p class="fontStyle">出荷実績照会</p></a>
										</div>
									</li>
									<li class="padding">
										<div class="backStyle">
											<a href="#"><p class="fontStyle">出荷実績出力</p></a>
										</div>
									</li>
									<li class="padding">
										<div class="backStyle">
											<a href="#"><p class="fontStyle">在庫照会</p></a>
										</div>
									</li>
									<li class="padding">
										<div class="backStyle">
											<a href="#"><p class="fontStyle">システム管理</p></a>
										</div>
									</li>
									<li class="padding">
										<div class="backStyle">
											<a href="#"><p class="fontStyle">マスタメンテナンス</p></a>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul class="multi-column-dropdown">
									<li class="padding">
										<div class="backStyleSky">
											<a href="#"><p class="fontStyle">ログインIDマスタ</p></a>
										</div>
									</li>
									<li class="padding">
										<div class="backStyleSky">
											<a href="#"><p class="fontStyle">運送会社マスタ</p></a>
										</div>
									</li>
									<li class="padding">
										<div class="backStyleSky">
											<a href="#"><p class="fontStyle">入力補助製品マスタ</p></a>
										</div>
									</li>
									<li class="padding">
										<div class="backStyleSky">
											<a href="#"><p class="fontStyle">照会対象外製品マスタ</p></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</ul></li>
				<li><a href="#" class="fontStyle"><i class="fa fa-key"></i>パスワード変更</a></li>
				<li><a href="#" class="fontStyle"><i class="fa fa-sign-out"></i>ログアウト</a></li>
				<li><a href="#" class="fontStyle"><big><span
							class="glyphicon glyphicon-question-sign" style="color: white"></span></big></a></li>
			</ul>
		</div>
		<!--/.navbar-collapse-->
	</nav>

	<div class="container center">
		<div class="padding">
			<label>受注番号</label> <input type="text" placeholder="My Documents..">
			<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target="#myModal">参照</button>

		</div>

		<div style="padding-left: 55%;">
			<button type="button" class="btn btn-primary">取込</button>

		</div>
		<div style="padding-left: 20%; padding-top: 10%">
			<label>件数 15 / 20</label>
		</div>

		<div style="padding-left: 45%; padding-top: 3%">
			<label>受注データ取込完了</label>

		</div>

		<!-- The Modal -->
		<div class="modal" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div>
						<h5 class="modal-title padding">受注検索</h5>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div>
							<button>Ok</button>
							<button>キャンセル</button>
							<label>担当</label> <input type="text"> <label>担当</label> <input
								type="text"> <label>~</label> <input type="text">
						</div>
						<div>
							<table class="table table-bordered">
								<thead style="background-color: white;">
									<th>受注No.</th>
									<th>受注先略称</th>
									<th>受注額</th>
									<th>受注内容</th>
									<th>売上日</th>
								</thead>
								<tbody class="fontStyle" style="background-color: DeepSkyBlue;">
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div>


		<div class="footer">
			<p>著作権@株式会社</p>
		</div>


		<!--/.navbar-->
		<!-- partial -->
		<script
			src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script
			src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		<script
			src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
		<script src="/static/js/indexScript.js"></script>
</body>
</html>